#tabbar {
    counter-reset: vtabs atabs tabs;

    // vtabs tracks visible tabs, atabs tracks active tabs, tabs tracks all tabs
}

tab-item {
    counter-increment: tabs;

    &:not(.collapsed):not(.discarded) {
        counter-increment: vtabs atabs tabs;
    }

    &:not(.collapsed) {
        counter-increment: vtabs tabs;
    }

    &:not(.discarded) {
        counter-increment: atabs tabs;
    }
}

.newtab-button {
    --tab-count-text: counter(tabs) " tabs";
    position: relative;

    &::before {
        content: var(--tab-count-text);
        position: absolute;
        left: 0.5rem;
        font-weight: bolder;
        font-size: 1.2rem;
        text-transform: uppercase;
    }
}
