@keyframes shaking {
    $max: 5%;

    0% {
        transform: translate(0) rotate(0deg);
    }

    25% {
        transform: translate($max) rotate(45deg);
    }

    50% {
        transform: translate(-$max) rotate(-45deg);
    }

    75% {
        transform: translate($max) rotate(45deg);
    }

    100% {
        transform: translate(0) rotate(0);
    }
}
