@use '../../variables' as *;
@use '../../mixin' as m;
@use 'tab-item_animation' as *;

tab-item {
    // all changes for counting tabs
    counter-increment: tabs;

    &:not(.collapsed):not(.discarded) {
        counter-increment: vtabs atabs tabs;
    }

    &:not(.collapsed) {
        counter-increment: vtabs tabs;
    }

    &:not(.discarded) {
        counter-increment: atabs tabs;
    }

    tab-label {
        transition: $main-transition;
    }

    // opther
    &:hover {
        & .highlighter {
            outline: ($px_rem * 5) solid rgba($color: black, $alpha: 0.8);
        }

        & tab-label {
            text-decoration: underline;
            font-weight: bolder;
        }

        & tab-favicon {
            @include m.animation-mixin(shaking, 1.5s);
        }
    }
}
